
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    padding: 50px;
    
    background-color: rgb(250, 177, 250);
  }
  
  .cell {
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .cell:hover .tooltip {
    display: block;
  }
  